.user-photo{
    width: 175px;
    height: 175px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;   
    
}
/* 
.user-name{
    margin: 0 auto;
} */

.line1{
    width: 900px;
    margin: 0 auto;
}

.list-group{
    width: 900px;
    margin: 0 auto;
}

.jumbotron{
    width: 960px;
    margin: 0 auto;
}

 
