.foodItemLink {
    text-decoration-line: none !important;
    color: #333;
}

.foodItemLink:hover {
    color: orange;
}

.foodDes{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.foodName{
    font-weight: 1000;
    font-size: 20px;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-img {
    height: 250px;
    overflow: hidden;
}