@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a,
img {
    border: 0;
    color: #333;
    text-decoration: none;
}

body {
    font: 12px/180% Arial, Helvetica, sans-serif, "新宋体";
}

.hide {
    display: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    *zoom: 1
}

em,
i,
s {
    font-style: normal;
}


/* 导航样式 */

.header-wrap {
    background-color: #fff;
    width: 100%
}

.navwrap {
    background: #9b0000 url(../images/nav-bg.jpg) repeat-x;
    height: 36px;
    border-top: 1px #9c1900 solid;
    border-bottom: 1px #8a1501 solid;
    box-shadow: 0 1px 2px #999;
    -webkit-box-shadow: 0 1px 2px #999;
    -moz-box-shadow: 0 1px 2px #999
}

#nav {
    height: 36px;
    width: 980px;
    /*margin: 0 auto;*/
    margin: 0 auto 0 17%;
    position: relative;
    padding: 0;
    z-index: 99
}

.navbar {
    height: 36px;
    padding-left: 210px;
    position: relative
}

.navbar a {
    float: left;
    width: auto;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: #fff;
    padding: 0 15px;
    text-decoration: none;
    font-size: 15px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    white-space: nowrap;
    border-right: 1px #931900 solid;
    border-left: 1px #a52600 solid;
    position: relative
}

.navbar a2 {
    float: left;
    width: auto;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: #fff;
    padding: 0 450px;
    text-decoration: none;
    font-size: 15px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    white-space: nowrap;
    border-right: 1px #931900 solid;
    border-left: 1px #a52600 solid;
    position: relative
}

.navbar a.first {
    border-left: 0 none
}

.navbar a.last {
    border-right: 0 none
}

.navbar a:hover {
    background-color: #8d1e01;
    color: #fff
}

.navbar a.current {
    background-color: #6c1500;
    border-right: 1px #6c1500 solid;
    box-shadow: 0 0 10px #4f0000 inset;
    -webkit-box-shadow: 0 0 10px #4f0000 inset;
    -moz-box-shadow: 0 0 10px #4f0000 inset
}

.navbar a:hover {
    text-decoration: none
}

.navbar a.current:hover {
    color: #fff
}



.navbar .navbt {
    width: auto;
    height: 30px;
    position: absolute;
    top: 3px;
    left: 60%;
    border: 0 none;
    float: none;
    font-size: 14px;
    line-height: 30px;
    padding: 0
}





a.navbt span {
    background: url(../images/iconmap.jpg) no-repeat 1px 3px;
    padding-left: 18px
}

.navbar a.navbt:hover {
    background: transparent url(../images/navbt-hover.jpg) no-repeat
}

.navbar a.navbt:hover span {
    background-image: url(../images/iconmap-hover.jpg)
}

.pros {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 1000;
    width: 210px;
    background-color: #d03322
}

.pros h2 {
    width: 194px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: "\5FAE\8F6F\96C5\9ED1"
}

.pros2 {
    position: absolute;
    top: -1px;
    left: 300px;
    z-index: 1000;
    width: 210px;
    background-color: #d03322
}

.pros2 h2 {
    width: 194px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: "\5FAE\8F6F\96C5\9ED1"
}

.subpage h2 {
    background: url(../images/icon-dropdown.jpg) no-repeat 162px center;
    cursor: pointer
}

.subpage .prosul {
    display: none
}

.subpage2 h2 {
    background: url(../images/icon-dropdown.jpg) no-repeat 122px center;
    cursor: pointer
}

.subpage2 .prosul {
    display: none
}

.prosul {
    padding-left: 3px;
    width: 207px;
    margin-top: 2px;
    _overflow: hidden;
    height: 414px
}

li.food {
    background-position: 10px 15px
}

li.enjoy {
    background-position: 10px -35px
}

li.women {
    background-position: 10px -85px
}

li.life {
    background-position: 10px -135px
}

li.travel {
    background-position: 10px -185px
}

li.goods {
    background-position: 10px -235px
}

.prosul li {
    line-height: 50px;
    height: 50px;
    _overflow: hidden;
    border-bottom: 1px #bb2d1e dashed;
    margin-right: 3px;
    padding-left: 38px
}

.prosul li.prosahover {
    border-bottom: 1px #fff solid;
    background-color: #fff;
    margin-right: 0;
    padding-right: 3px;
}

.prosul a {
    color: #ffd0c0;
    padding-right: 8px;
    _padding-right: 6px;
    white-space: nowrap;
    display: inline-block;
    height: 50px
}

.prosul a.hot {
    background: url(../images/icon-hot.png) right 8px no-repeat
}

.prosul li.prosahover a.hot {
    background-image: url(../images/icon-hot-hover.png)
}

.prosul li.prosahover a {
    color: #636363
}

.prosul li a.ti {
    font-size: 14px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    color: #fff
}

.prosul li.prosahover a.ti {
    color: #d03322
}

.prosul li a:hover {
    color: #d03322
}

.prosul li.nochild a:hover {
    color: #fff
}

.prosul li i {
    float: right;
    display: block;
    width: 3px;
    height: 50px;
    text-indent: -999em;
    background-position: 0 -276px;
    padding-right: 12px
}

.prosul li.prosahover i {
    background-position: 0 -326px
}

.prosul li.last {
    border-bottom: 0 none
}

.prosul li.bd-solid {
    border-bottom: 1px #c22900 solid
}

.prosul li.hotareas {
    background-image: none;
    padding-left: 12px;
    line-height: 26px;
    height: 106px;
    *overflow: hidden
}

.prosul li.hotareas i {
    line-height: 30px;
    margin-top: -2px;
    height: 40px;
    background-position: 0 -279px
}

.prosul li.hotareas a {
    line-height: 30px;
    height: 30px
}

.prosul li.hotareas a.hot {
    background-position: right 0
}

.prosul li h2 {
    padding-left: 0;
    line-height: 40px;
    display: inline;
    font-size: 14px;
    font-weight: 400;
}

.prosul li.prosahover h2 {
    color: #d03322
}

.prosmore {
    padding: 15px 0 15px 15px;
    position: absolute;
    z-index: 999;
    left: 210px;
    top: 38px;
    background-color: #fff;
    border: 2px #d03322 solid;
    border-left: 0 none;
    width: 214px;
    height: 382px
}

.prosul .prosmore {
    text-align: left
}

.prosul .prosmore span {
    float: left;
    height: 36px;
    width: 107px;
    line-height: 22px
}

.prosul li .prosmore a {
    height: 18px;
    line-height: 18px;
    padding: 0 4px
}

.prosul li .prosmore a:hover {
    background-color: #d03322;
    color: #fff
}

.prosmore em {
    font-weight: 400;
    padding-top: 9px;
    display: inline-block
}

.prosmore em.morehot {
    background: url(../images/icon-hot-more.png) right top no-repeat;
    padding-right: 22px
}

/*.search .container {*/
/*    height: 70px;*/
/*    width: 800px;*/
/*    margin: 100px auto 0 auto;*/
/*}*/

/*.search .parent {*/
/*    position: relative;*/
/*}*/

.search {
    width: 100px;
    height: 30px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}

/*.navbt3 > .btn {*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    border-radius: 18px;*/
/*    outline: none;*/
/*    border: 1px solid #ccc;*/
/*    padding-left: 50px;*/
/*    position: absolute;*/
/*}*/


.btn{
    width: 100px;
    height: 30px;


}

label {
    display: block;
    vertical-align: middle;
}

label,
input,
select {
    vertical-align: middle;
}

.mui-switch {
    width: 52px;
    height: 31px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}

.mui-switch:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
}

.mui-switch:checked:before {
    left: 21px;
}

.mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #64bd63;
    transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:checked:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s;
}