<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="public/images/home-food-1.jpg"
                class="d-block w-100">
            <div class="carousel-caption d-none d-md-block text-customized text-left">
                <h1 class="">GET FREE FOOD</h1>
                <p>provided Hoboken restaurants.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="public/images/home-food-2.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block text-customized text-bottom">
                <h1 class="">JOIN US TO SHARE</h1>
                <p>and help starving people & stop wasting food</p>
            </div>
        </div>
    </div>
</div>
<script src="public/js/common/bootstrap.bundle.min.js"></script>