<div class="home-scope">
    <div class="container mt-3">
        <div class="row d-flex align-items-start head-section">
            {{!-- left sidebar --}}
            <div class="col-2 p-0">
                {{> left-sidebar }}
            </div>
            {{!-- content --}}
            <div class="col-8 p-0">
                {{> carousel }}
            </div>
            {{!-- right sidebar --}}
            <div class="col-2 p-0 align-self-start top-0">
                {{> right-sidebar }}
            </div>
        </div>

        <div class="row mt-3 restaurants">
            <div class="col col-12">
                <h2>Restaurants</h2>
                <hr>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col">
                        <div class="card">
                            <img class="w-100 mb-2 rounded" src="public/images/restaurants/Bandolera Restaurant.png" alt="">
                            <div class="card-body">
                                <h5>Bandolera Restaurant</h5>
                                <p class="card-text">$$ Mexican, Salads</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="w-100 mb-2 rounded" src="public/images/restaurants/Billiard Bar Montgomery.png" alt="">
                            <div class="card-body">
                                <h5>Billiard Bar Montgomery</h5>
                                <p class="card-text">$$ Seafood, Fast Food</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="w-100 mb-2 rounded" src="public/images/restaurants/Rasoi Restaurant.png" alt="">
                            <div class="card-body">
                                <h5>Rasoi Restaurant</h5>
                                <p class="card-text">$$ Indian, Chicken</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="w-100 mb-2 rounded" src="public/images/restaurants/Freaking Good Pizza.png" alt="">
                            <div class="card-body">
                                <h5>Freaking Good Pizza</h5>
                                <p class="card-text">$$ Family Meals, Pizza</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="w-100 mb-2 rounded" src="public/images/restaurants/The Roll Co..png" alt="">
                            <div class="card-body">
                                <h5>The Roll Co.</h5>
                                <p class="card-text">$$ Indian, Vegetarian</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img class="w-100 mb-2 rounded" src="public/images/restaurants/Xiao Chi Jie.png" alt="">
                            <div class="card-body">
                                <h5>Wow Bao</h5>
                                <p class="card-text">$ Chinese, Asian</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>