<div class="position-sticky align-self-start top-0 p-3" style="background-color: #fafafa; border: 1px solid #eee">
    <h5 class="text-center">Today's Rankings</h5>
    <div class="card ps-2 pe-2 text-center" style="padding-top: 10%">
        <a href="/food/detail/6275cd8afce755ca20b017eb"><img class="card-img-top w-50" src="public/uploads/food1.jpg"> </a>
        <div class="card-body text-center">
            <p class="card-text">Be My Burger</p>
        </div>
    </div>


    <hr class="divider">
    <div class="card ps-2 pe-2 text-center" style="padding-top: 10%">
        <a href="/food/detail/6275cd8afce755ca20b017ec"><img class="card-img-top w-50" src="public/uploads/food2.jpg"></a>
        <div class="card-body text-center">
            <p class="card-text">Steelhead Salmon Burger</p>
        </div>
    </div>

</div>