<div class="position-sticky align-self-start top-0 p-3" style="background-color: #fafafa; border: 1px solid #eee">
    <h5 class="text-center">Today's Rankings</h5>
    <div class="card ps-2 pe-2 text-center">
        <img class="card-img-top w-50" src="public/images/side-food-1.png">
        <div class="card-body text-center">
            <p class="card-text">Japanese Ramen</p>
        </div>
    </div>
    <hr class="divider">
    <div class="card ps-2 pe-2 text-center">
        <img class="card-img-top w-50" src="public/images/side-food-2.png">
        <div class="card-body text-center">
            <p class="card-text">Pizza</p>
        </div>
    </div>
    <hr class="divider">
    <div class="card ps-2 pe-2 text-center">
        <img class="card-img-top w-50" src="public/images/side-food-3.png">
        <div class="card-body text-center">
            <p class="card-text">Taco</p>
        </div>
    </div>
</div>