
<link rel="stylesheet" href="/public/css/account.css">




<br>
<div class="user-photo" style="text-align: center";>
    <img src="/public/images/users/photo1.jpg" alt="">
</div>
<br>
<div class="jumbotron">
  <hr class="my-4"><br>
  <h1 class="user-name">{{user.name}}</h1>

  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>


{{!-- <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div> --}}

<script src="public/js/common/bootstrap.bundle.min.js"></script>
{{!-- <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">  --}}