
<link rel="stylesheet" href="/public/css/account.css">

<div class="bootstrap-iso">
  <br>
  <div class="jumbotron">

    <div class="user-photo";>
      <img src="/public/images/users/photo1.jpg" alt="">
    </div>
    <div class="user-name">
      <h2 style="text-align: center;">{{user.name}}</h2>
    </div>
    
    <div class="line1">
      <hr class="my-4">
    </div>

    <div class="user-info">
      <div class="list-group" id="myList" role="tablist">
        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
        <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
      </div>
  </div>

  <div class="container mt-3">  
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
      打开模态框
    </button>
  </div>

  <!-- 模态框 -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">模态框标题</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- 模态框内容 -->
        <div class="modal-body">
          模态框内容..
        </div>

        <!-- 模态框底部 -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
        </div>

      </div>
    </div>
  </div>

</div>

  <script>
    $('#myList a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

  </script>






{{!-- <script src="public/js/common/bootstrap.bundle.min.js"></script> --}}
{{!-- <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">  --}}
<link rel="stylesheet" href="https://formden.com/static/assets/demos/bootstrap-iso/bootstrap-iso/bootstrap-iso.css" />
{{!-- <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script> --}}
