<link rel="stylesheet" type="text/css" href="/public/css/foodDetail.css">





<div class="container" style="width: 30%;margin-left: 50%">

    <!-- ============= COMPONENT ============== -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="main_nav">

               category

                <ul class="navbar-nav" style="padding-left: 10%">
                    <li class="nav-item dropdown" style="width: 250px">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">

                            <span id="foodCategory1">{{searchParams.foodCategory1}}</span>
                            <span id="foodCategoryHelper">&raquo;</span>
                            <span id="foodCategory2">{{searchParams.foodCategory2}}</span>
                        </a>

                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item level1"><span>Fast Food</span><span> &raquo; </span></a>
                                <ul class="submenu dropdown-menu level2">
                                    <li><a class="dropdown-item level2em">Burgers</a></li>
                                    <li><a class="dropdown-item level2em">Pizza</a></li>
                                    <li><a class="dropdown-item level2em">Sandwiches</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item level1" ><span>Asian</span><span> &raquo; </span></a>
                                <ul class="submenu dropdown-menu level2">
                                    <li><a class="dropdown-item level2em">Sushi</a></li>
                                    <li><a class="dropdown-item level2em">Noodle</a></li>
                                    <li><a class="dropdown-item level2em">Dumplings</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item level1"><span>Fried Food</span><span> &raquo; </span></a>
                                <ul class="submenu dropdown-menu level2">
                                    <li><a class="dropdown-item level2em">Fried Chicken</a></li>
                                    <li><a class="dropdown-item level2em">Fries</a></li>
                                    <li><a class="dropdown-item level2em">Fried fish</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item level1"><span>Drink</span><span> &raquo; </span></a>
                                <ul class="submenu dropdown-menu level2">
                                    <li><a class="dropdown-item level2em">Soup</a></li>
                                    <li><a class="dropdown-item level2em">Juice</a></li>
                                    <li><a class="dropdown-item level2em">Liquor</a></li>
                                </ul>
                            </li>


                        </ul>
                    </li>

                </ul>


            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>

    <!-- ============= COMPONENT END// ============== -->


</div><!-- container //  -->

<!--<div style=" margin:0 20%;border: 1px solid">-->

<!--    <div style="width: 800px;height: 500px;">1</div>-->

<!--</div>-->

{{#if msg}}
<div class="container position-absolute err-message-alert">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{msg}}
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
    </div>
</div>
{{/if}}

    <section class="product-details spad" style="padding-top: 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">

                        <div class="product__details__pic__item">

                            <div class="text-center">
                                <h3 class="text-danger">{{msg}}</h3>
                            </div>
                            <img id="viewImg" />

                        </div>


                    </div>
                </div>
                <form class="col-lg-6 col-md-6" method="post" enctype="multipart/form-data">
                    <div class="product__details__text">


                        <h3 style="display: inline">Food name: </h3> <input type="text" name="foodName" />
                         <input id="category1"  style="display: none" type="text" name="foodCategory1" />
                        <input id="category2"  style="display: none" type="text" name="foodCategory2" />


                        <div class="product__details__price">$<input type="text" name="foodPrice" /></div>
                        <p><textarea cols="50" name="foodDes" rows="10" placeholder="foodDes"></textarea>
                            </p>

                        <div class="form-group">
                            <label for="photo">Photo</label>
                            <input type="file" accept="image/*" name="imageForMulter" id="photo" onchange="uploadImg(this)">
                        </div>

                        <ul>
                            <li><b>stock</b> <input type="text" name="stock" /></li>
                        </ul>

                        <button type="submit">submit</button>

                    </div>
                </form>



            </div>
        </div>
    </section>


<style type="text/css">



    .form-switch.form-switch-md {
        padding-left: 4.5em;
        height: 2em;
    }

    .form-switch.form-switch-md .form-check-input {
        margin-left: -4.5em;
        height: 2em;
        width: 4em;
    }

    .form-switch.form-switch-md .form-check-label {
        padding-top: 0.5em;
    }

    .form-switch.form-switch-lg {
        padding-left: 8.5em;
        height: 4.5em;
    }

    .form-switch.form-switch-lg .form-check-input {
        margin-left: -8.5em;
        height: 4em;
        width: 8em;
    }

    .form-switch.form-switch-lg .form-check-label {
        padding-top: 1.5em;
    }

    /* ============ desktop view ============ */
    @media all and (min-width: 992px) {

        .dropdown-menu li {
            position: relative;
        }

        .dropdown-menu .submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .dropdown-menu .submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu > li:hover {
            background-color: #f1f1f1
        }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
    }

    /* ============ desktop view .end// ============ */

    /* ============ small devices ============ */
    @media (max-width: 991px) {

        .dropdown-menu .dropdown-menu {
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            margin-bottom: .5rem;
        }

    }
    /* ============ small devices .end// ============ */

</style>


<script type="text/javascript">

    var img = document.getElementById("viewImg");
    function uploadImg(fileDom) {
        //取到file文件的本地路径，就是你电脑上的存储路径
        console.log(fileDom.value);

        // 获取图片数据对象
        var file = fileDom.files[0];

        // 获取图片名字
        console.log(file.name);

        // 获取图片文件大小,单位为byte
        console.log(file.size);

        var reader = new FileReader();
        reader.readAsDataURL(file);

        //确保文件成功获取，base64数据量比较大
        reader.onload = function (event) {
            console.log(96);
            var e = event || window.event
            var img = document.getElementById("viewImg");
            img.src = e.target.result;
            let user = sessionStorage.getItem('user')


            //或者 img.src = this.result; 因为e.target == this
        }
    }

    var proQty = $('.pro-qty');
    proQty.prepend('<span class="dec qtybtn">-</span>');
    proQty.append('<span class="inc qtybtn">+</span>');
    proQty.on('click', '.qtybtn', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
        }
        $button.parent().find('input').val(newVal);
    });


</script>

<script type="text/javascript">

    $(".level2em").click(function () {

        console.log(11111);
        let $this = $(this)


        $("#foodCategory1").html($($this.parent().parent().prev()[0]).find("span")[0].innerText)
        $("#foodCategory2").html($this[0].innerText)

        //add to input of form
        $("#category1").val($($this.parent().parent().prev()[0]).find("span")[0].innerText)
        $("#category2").val($this[0].innerText)
    });

    $(".level1em").click(function () {
        let $this = $(this)

        $("#likesOrder").html($this[0].innerText)

    });

    $(".level1").each(function () {

        $(this).click(function(e){
            e.stopPropagation();
        });
    })

    document.addEventListener("DOMContentLoaded", function () {


        /////// Prevent closing from click inside dropdown


        document.querySelectorAll('.level2').forEach(function (element) {
            element.addEventListener('click', function (e) {
                $(".dropdown-menu").removeClass("show");
                $(".dropdown-toggle").removeClass("show");


                e.stopPropagation();
            });
        })

        // make it as accordion for smaller screens
        if (window.innerWidth < 992) {

            // close all inner dropdowns when parent is closed
            document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
                everydropdown.addEventListener('hidden.bs.dropdown', function () {
                    // after dropdown is hidden, then find all submenus
                    this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
                        // hide every submenu as well
                        everysubmenu.style.display = 'none';
                    });
                })
            });

            document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
                element.addEventListener('click', function (e) {

                    let nextEl = this.nextElementSibling;
                    if (nextEl && nextEl.classList.contains('submenu')) {
                        // prevent opening link if link needs to open dropdown
                        e.preventDefault();
                        console.log(nextEl);
                        if (nextEl.style.display == 'block') {
                            nextEl.style.display = 'none';
                        } else {
                            nextEl.style.display = 'block';
                        }

                    }
                });
            })
        }
        // end if innerWidth

    });
    // DOMContentLoaded  end
</script>