

<div class="container marketing">
    <h1>popular pizza rest </h1>

</div>

<hr class="featurette-divider">

<div class="container marketing">
    <h1>Hello, world!</h1>
</div>





<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {{#if itemsArray}}
                        {{#each itemsArray}}
                                {{#each this }}
                        {{> item_item }}
                                {{/each}}
                        {{/each}}
            {{/if}}


        </div>
    </div>
</div>






