<link rel="stylesheet" type="text/css" href="/public/css/style2.0.css">




<div class="header-wrap">
    <div class="navwrap">
        <div id="nav">
            <div class="navbar clearfix">
                <!-- <a class="navbt" href="#"><span>团购地图</span></a> -->





                <!-- <input type="button" name="" id="" class="navbt"> -->
                <!-- <a class="current" href="#">首页</a>
                <a href="#">餐饮美食</a>
                <a href="#">休闲娱乐</a>
                <a href="#">旅游住宿</a> -->
                <!-- <a href="#">in stock</a> -->
                <a2 href="#">in stock</a2>

                <label class="navbt" ><input class="mui-switch mui-switch-animbg"
                                                                  type="checkbox"></label>
                <div class="navbt"  style="left: 80%">
                        <input type="text" class="search" placeholder="搜索">
                </div>

                <div class="navbt" style="left: 100%">
<!--                    <button type="button"  class="btn">search</button>-->

                    <input type="button"  value="搜索"  name="" id="" class="btn">
                </div>




            </div>


            <div class="pros subpage">
                <h2 id="currentCategory">全部分类 </h2>
                <ul class="prosul clearfix" id="proinfo">
                    <li class="food">
                        <i>&gt;</i>
                        <a class="ti" >快餐1</a>
                        <div class="prosmore hide">
                            <span><em><a >汉堡1</a></em></span>
                            <span><em><a href="#">薯条1</a></em></span>
                            <span><em><a href="#">辣翅1</a></em></span>
                        </div>
                    </li>
                    <li class="food">
                        <i>&gt;</i>
                        <a class="ti" href="#">快餐2</a>
                        <div class="prosmore hide">
                            <span><em><a href="#">汉堡2</a></em></span>
                            <span><em><a href="#">薯条2</a></em></span>
                            <span><em><a href="#">辣翅2</a></em></span>
                        </div>
                    </li>
                    <li class="food">
                        <i>&gt;</i>
                        <a class="ti" href="#">快餐3</a>
                        <div class="prosmore hide">
                            <span><em><a href="#">汉堡3</a></em></span>
                            <span><em><a href="#">薯条3</a></em></span>
                            <span><em><a href="#">辣翅3</a></em></span>
                        </div>
                    </li>
                    <li class="food">
                        <i>&gt;</i>
                        <a class="ti" href="#">快餐4</a>
                        <div class="prosmore hide">
                            <span><em><a href="#">汉堡4</a></em></span>
                            <span><em><a href="#">薯条4</a></em></span>
                            <span><em><a href="#">辣翅4</a></em></span>
                        </div>
                    </li>

                </ul>
            </div>


            <div class="pros2 subpage2">
                <h2 id="currentOrder">排序方式</h2>
                <ul class="prosul clearfix" id="proinfo2">
                    <li class="">
                        <a class="ti" href="#">喜爱从高到低</a>
                    </li>
                    <li class="">
                        <a class="ti" href="#">喜爱从低到高</a>
                    </li>
                    <li class="">
                        <a class="ti" href="#">热量从高到低</a>
                    </li>
                    <li class="">
                        <a class="ti" href="#">热量从低到高</a>
                    </li>
                </ul>
            </div>


        </div>
    </div>
</div>




<hr class="bootstrap-iso featurette-divider">


<div class="bootstrap-iso">
    <div>
        {{#if itemsArray}}
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        {{#each itemsArray}}
                            {{#each this }}
                                {{> item_item }}
                            {{/each}}
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>


<script type="text/javascript">

    //todo 自动执行 如果url里有关键词 重新写回搜索框

    window.onload = function () {

        console.log(window.location.href)
    }

    $('#foodSearchButton').click(function () {


        let key = $("#foodSearchInput").val()
        location.href = window.location.host + "/foodList/?key=" + key
        //todo 跳转到3000:foodList?key=food1

    });


    (function () {

        var $subblock = $(".subpage"),
                $head = $subblock.find('h2'),
                $ul = $("#proinfo"),
                $lis = $ul.find("li"),
                inter = false;

        $head.click(function (e) {
            e.stopPropagation();
            if (!inter) {
                $ul.show();
            } else {
                console.log(146);
                $ul.hide();
            }
            inter = !inter;
        });

        var $subblock2 = $(".subpage2"),
                $head2 = $subblock2.find('h2'),
                $ul2 = $("#proinfo2"),
                $lis2 = $ul2.find("li"),
                inter2 = false;

        $head2.click(function (e) {
            e.stopPropagation();
            if (!inter2) {
                $ul2.show();
            } else {
                $ul2.hide();
            }
            inter2 = !inter2;
        });

        $ul.click(function (event) {
            event.stopPropagation();
        });

        $(document).click(function () {
            $ul.hide();
            inter = false;
            $ul2.hide();
            inter2 = false;

            console.log("边缘被触发了 两个下拉都false")
        });

        $("em").click(function () {
            //console.log("点击ul 隐藏ul");
            //console.log($(this)[0].innerText);
            console.log();
            let $this = $(this)
            console.log($this.parent().parent().prev()[0].innerText);
            $ul.hide();
            inter = !inter;
            $("#currentCategory").html($this.parent().parent().prev()[0].innerText + "->" + $this[0].innerText)
        });

        $("#proinfo2 > li").click(function () {
            //console.log("点击ul 隐藏ul");
            //console.log($(this)[0].innerText);
            console.log();
            let $this = $(this)
            console.log($this[0].innerText);
            $ul2.hide();
            inter2 = !inter2;
            $("#currentOrder").html($this[0].innerText)
        });




        $lis.hover(function () {
            if (!$(this).hasClass('nochild')) {
                $(this).addClass("prosahover");
                $(this).find(".prosmore").removeClass('hide');
            }
        }, function () {
            if (!$(this).hasClass('nochild')) {
                if ($(this).hasClass("prosahover")) {
                    $(this).removeClass("prosahover");
                }
                $(this).find(".prosmore").addClass('hide');
            }
        });

    })();


</script>