<div class="container">

    <!-- ============= COMPONENT ============== -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">

            <div class="collapse navbar-collapse" id="main_nav">


                <ul class="navbar-nav">
                    <li class="nav-item dropdown" style="width: 250px">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <span id="foodCategory1">{{searchParams.foodCategory1}}</span>
                            <span id="foodCategoryHelper">{{searchParams.foodCategoryHelper}}</span>
                            <span id="foodCategory2">{{searchParams.foodCategory2}}</span>
                        </a>

                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item level1"><span>Fast Food</span><span> &raquo; </span></a>
                                <ul class="submenu dropdown-menu level2">
                                    <li><a class="dropdown-item level2em">Burgers</a></li>
                                    <li><a class="dropdown-item level2em">Pizza</a></li>
                                    <li><a class="dropdown-item level2em">Sandwiches</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item level1" ><span>Asian</span><span> &raquo; </span></a>
                                <ul class="submenu dropdown-menu level2">
                                    <li><a class="dropdown-item level2em">Sushi</a></li>
                                    <li><a class="dropdown-item level2em">Noodle</a></li>
                                    <li><a class="dropdown-item level2em">Dumplings</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item level1"><span>Fried Food</span><span> &raquo; </span></a>
                                <ul class="submenu dropdown-menu level2">
                                    <li><a class="dropdown-item level2em">Fried Chicken</a></li>
                                    <li><a class="dropdown-item level2em">Fries</a></li>
                                    <li><a class="dropdown-item level2em">Fried fish</a></li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item level1"><span>Drink</span><span> &raquo; </span></a>
                                <ul class="submenu dropdown-menu level2">
                                    <li><a class="dropdown-item level2em">Soup</a></li>
                                    <li><a class="dropdown-item level2em">Juice</a></li>
                                    <li><a class="dropdown-item level2em">Liquor</a></li>
                                </ul>
                            </li>
                            <li><a id="tiAll"class="dropdown-item">ALL</a></li>


                        </ul>
                    </li>

                    <li class="nav-item dropdown" style="width: 250px">
                        <a class="nav-link dropdown-toggle" id="currentOrder" value=0 data-bs-toggle="dropdown"> in default order </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item level1em" value=1>more likes first</a></li>
                            <li><a class="dropdown-item level1em" value=0>in default order</a></li>
                        </ul>
                    </li>




                    <div class="form-check form-switch form-switch-md" style="width: 250px">
                        <label class="form-check-label" for="flexSwitchCheckDefault">In stock</label>

                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    </div>




                    <div class="d-flex">
                        <input class="form-control me-2"  data-onstyle="danger" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-danger" id="foodSearchButton" type="button">go</button>
                    </div>






                </ul>


            </div> <!-- navbar-collapse.// -->
        </div> <!-- container-fluid.// -->
    </nav>

    <!-- ============= COMPONENT END// ============== -->


</div><!-- container //  -->


<div>
    {{#if itemsArray}}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {{#each itemsArray}}

                        {{> food_list_item parameter=this}}


                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
</div>


<style type="text/css">



    .form-switch.form-switch-md {
        padding-left: 4.5em;
        height: 2em;
    }

    .form-switch.form-switch-md .form-check-input {
        margin-left: -4.5em;
        height: 2em;
        width: 4em;
    }

    .form-switch.form-switch-md .form-check-label {
        padding-top: 0.5em;
    }

    .form-switch.form-switch-lg {
        padding-left: 8.5em;
        height: 4.5em;
    }

    .form-switch.form-switch-lg .form-check-input {
        margin-left: -8.5em;
        height: 4em;
        width: 8em;
    }

    .form-switch.form-switch-lg .form-check-label {
        padding-top: 1.5em;
    }

    /* ============ desktop view ============ */
    @media all and (min-width: 992px) {

        .dropdown-menu li {
            position: relative;
        }

        .dropdown-menu .submenu {
            display: none;
            position: absolute;
            left: 100%;
            top: -7px;
        }

        .dropdown-menu .submenu-left {
            right: 100%;
            left: auto;
        }

        .dropdown-menu > li:hover {
            background-color: #f1f1f1
        }

        .dropdown-menu > li:hover > .submenu {
            display: block;
        }
    }

    /* ============ desktop view .end// ============ */

    /* ============ small devices ============ */
    @media (max-width: 991px) {

        .dropdown-menu .dropdown-menu {
            margin-left: 0.7rem;
            margin-right: 0.7rem;
            margin-bottom: .5rem;
        }

    }

    /* ============ small devices .end// ============ */

</style>

<script type="text/javascript">



    $(".level2em").click(function () {

        console.log(11111);
        let $this = $(this)


        $("#foodCategory1").html($($this.parent().parent().prev()[0]).find("span")[0].innerText)
        $("#foodCategoryHelper").html( "&raquo;")
        $("#foodCategory2").html($this[0].innerText)
    });

    $(".level1em").click(function () {
        let $this = $(this)

        $("#currentOrder").html($this[0].innerText)
        $("#currentOrder").attr("value",$this.attr("value"))

    });

    $(".level1").each(function () {

        $(this).click(function(e){
            e.stopPropagation();
        });
    })


    $("#tiAll").click(function () {
        $("#foodCategory1").html("")
        $("#foodCategoryHelper").html("ALL")

        $("#foodCategory2").html("")
    });

    document.addEventListener("DOMContentLoaded", function () {


        /////// Prevent closing from click inside dropdown


        document.querySelectorAll('.level2').forEach(function (element) {
            element.addEventListener('click', function (e) {
                $(".dropdown-menu").removeClass("show");
                $(".dropdown-toggle").removeClass("show");


                e.stopPropagation();
            });
        })







        // make it as accordion for smaller screens
        if (window.innerWidth < 992) {

            // close all inner dropdowns when parent is closed
            document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
                everydropdown.addEventListener('hidden.bs.dropdown', function () {
                    // after dropdown is hidden, then find all submenus
                    this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
                        // hide every submenu as well
                        everysubmenu.style.display = 'none';
                    });
                })
            });

            document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
                element.addEventListener('click', function (e) {

                    let nextEl = this.nextElementSibling;
                    if (nextEl && nextEl.classList.contains('submenu')) {
                        // prevent opening link if link needs to open dropdown
                        e.preventDefault();
                        console.log(nextEl);
                        if (nextEl.style.display == 'block') {
                            nextEl.style.display = 'none';
                        } else {
                            nextEl.style.display = 'block';
                        }

                    }
                });
            })
        }
        // end if innerWidth

    });
    // DOMContentLoaded  end
</script>


<script type="text/javascript">


    function generateUrlWithParams(url, params) {
        console.log("params",params);
        var urlParams = [];
        let flag = false;
        for (var key in params) {
            if (params[key]) {
                flag = true;
                urlParams.push(`${key}=${params[key]}`)
            }
        }
        if (flag) {
            url += '?' + urlParams.join('&');
        }
        return url
    };

    $('#foodSearchButton').click(function () {

        let key = $("#foodSearchInput").val()
        let foodCategory1 = $("#foodCategory1").html()
        let foodCategory2 = $("#foodCategory2").html()
        let currentOrder = $("#currentOrder").attr("value")
        let likesOrder=""
        console.log(foodCategory1);
        console.log(foodCategory2);
        console.log(currentOrder);
        if (currentOrder === "1") {
            likesOrder=1
        }

        let url = window.location.origin + window.location.pathname;
        //let parentUrl = window.location.href.split("/").slice(0, -1).join("/");

        //window.location.href = window.location.host + "/foodList/?key=" + key

        url = generateUrlWithParams(url, {foodCategory1: foodCategory1, foodCategory2: foodCategory2,likesOrder:likesOrder})
        url = encodeURI(url)

        console.log(url);
        window.location.href = url


    });


</script>
