

<link rel="stylesheet" type="text/css" href="/public/css/style.css">





<div  style="position: relative; display:inline;margin: 20px 15%;">
    <div class="pros subpage"  >
        <h2 id="currentCategory">全部分类 </h2>
        <ul class="prosul clearfix" id="proinfo">
            <li class="food">
                <i>&gt;</i>
                <a class="ti" href="#">快餐1</a>
                <div class="prosmore hide">
                    <span><em><a href="#">汉堡1</a></em></span>
                    <span><em><a href="#">薯条1</a></em></span>
                    <span><em><a href="#">辣翅1</a></em></span>
                </div>
            </li>
            <li class="food">
                <i>&gt;</i>
                <a class="ti" href="#">快餐2</a>
                <div class="prosmore hide">
                    <span><em><a href="#">汉堡2</a></em></span>
                    <span><em><a href="#">薯条2</a></em></span>
                    <span><em><a href="#">辣翅2</a></em></span>
                </div>
            </li>
            <li class="food">
                <i>&gt;</i>
                <a class="ti" href="#">快餐3</a>
                <div class="prosmore hide">
                    <span><em><a href="#">汉堡3</a></em></span>
                    <span><em><a href="#">薯条3</a></em></span>
                    <span><em><a href="#">辣翅3</a></em></span>
                </div>
            </li>
            <li class="food">
                <i>&gt;</i>
                <a class="ti" href="#">快餐4</a>
                <div class="prosmore hide">
                    <span><em><a href="#">汉堡4</a></em></span>
                    <span><em><a href="#">薯条4</a></em></span>
                    <span><em><a href="#">辣翅4</a></em></span>
                </div>
            </li>

        </ul>
    </div>

    <label style="margin: 20px 20%;">in stock<input class="mui-switch mui-switch-animbg" type="checkbox"></label>


</div>

<div  style="position: relative; display:inline;margin: 10px 15%;">
    <input   type="text" class="input" placeholder="请输入商品">

</div>
<!--placeholder是文本框中的提示文字-->
<input type="button" value="搜索" class="button">


<div style="display: inline" >
    111

</div>
<div style="display: inline" >
    111

</div>

<div class="bootstrap-iso container marketing" style="display: inline" >

    <div  class="input-group" style="width: 200px ">
        <input id="foodSearchInput" type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button id="foodSearchButton" type="button" class="btn btn-outline-primary">search</button>
    </div>
</div>






<div class="container marketing bootstrap-iso">
    <h1>popular pizza rest </h1>

</div>







<hr class="bootstrap-iso featurette-divider">
















<div class="bootstrap-iso" >

<div >
    {{#if itemsArray}}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {{#each itemsArray}}
                        {{#each this }}
                            {{> item_item }}
                        {{/each}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}
</div>
</div>


<script type="text/javascript">

    //todo 自动执行 如果url里有关键词 重新写回搜索框

    window.onload=function(){

        console.log(window.location.href)
    }

    $('#foodSearchButton').click(function(){


        let key=$("#foodSearchInput").val()
        location.href =window.location.host+"/foodList/?key="+key
        //todo 跳转到3000:foodList?key=food1

    });




    (function(){

        var $subblock = $(".subpage"), $head=$subblock.find('h2'), $ul = $("#proinfo"), $lis = $ul.find("li"), inter=false;

        $head.click(function(e){
            e.stopPropagation();
            if(!inter){
                $ul.show();
            }else{
                console.log(146);
                $ul.hide();
            }
            inter=!inter;
        });

        $ul.click(function(event){
            event.stopPropagation();
        });

        $(document).click(function(){
            console.log("点击外面 隐藏ul");
            $ul.hide();
            inter=!inter;
        });

        $("em").click(function(){
            //console.log("点击ul 隐藏ul");
            //console.log($(this)[0].innerText);
            console.log();
            let $this=$(this)
            console.log($this.parent().parent().prev()[0].innerText);
            $ul.hide();
            inter=!inter;
            $("#currentCategory").html($this.parent().parent().prev()[0].innerText+"->"+$this[0].innerText)
        });

        $lis.hover(function(){
            if(!$(this).hasClass('nochild')){
                $(this).addClass("prosahover");
                $(this).find(".prosmore").removeClass('hide');
            }
        },function(){
            if(!$(this).hasClass('nochild')){
                if($(this).hasClass("prosahover")){
                    $(this).removeClass("prosahover");
                }
                $(this).find(".prosmore").addClass('hide');
            }
        });

    })();


</script>