<link rel="stylesheet" type="text/css" href="/public/css/foodDetail.css">


<!--<link rel="stylesheet" href="/public/css/elegant-icons.css" type="text/css">-->




<!--<div style=" margin:0 20%;border: 1px solid">-->

<!--    <div style="width: 800px;height: 500px;">1</div>-->

<!--</div>-->
<div class="bootstrap-iso">

    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                 src="/public/uploads/food1.png" alt="">
                        </div>


                    </div>
                </div>
                <form class="col-lg-6 col-md-6" method="POST">
                    <div class="product__details__text">
                        <h3 style="display: inline">Food name: </h3> <input type="text" name="" />


                        <div class="product__details__price">$<input type="text" name="" /></div>
                        <p><textarea cols="50" rows="10">在这里输入内容...</textarea>
                            </p>

                        <ul>
                            <li><b>Availability</b> <input type="text" name="Availability" /></li>
                            <li><b>Shipping</b><input type="text" name="Shipping" /></li>
                            <li><b>Weight</b> <input type="text" name="Weight" /></li>
                            <li><b>Share on</b><input type="text" name="Share on" /> </li>
                        </ul>

                        <button type="submit">test this num</button>

                    </div>
                </form>



            </div>
        </div>
    </section>


</div>




<script type="text/javascript">

    var proQty = $('.pro-qty');
    proQty.prepend('<span class="dec qtybtn">-</span>');
    proQty.append('<span class="inc qtybtn">+</span>');
    proQty.on('click', '.qtybtn', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').val();
        if ($button.hasClass('inc')) {
            var newVal = parseFloat(oldValue) + 1;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
        }
        $button.parent().find('input').val(newVal);
    });


</script>