

<div>
    {{#if itemsArray}}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {{#each itemsArray}}

                        {{> food_list_item parameter=this}}


                    {{/each}}
                </div>
            </div>
        </div>
        {{else}}
        <h1  style="text-align: center">empty here.<a href="/food/list"> view some food?</a></h1>
    {{/if}}
</div>








